In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Dependencies Imported')

Dependencies Imported

In [3]:
data = pd.read_csv("books.csv")
data.head(5)

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin

In [4]:
data.shape #3522 courses and 7 columns with different attributes

(211, 5)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      211 non-null    object
 1   Author     187 non-null    object
 2   Genre      211 non-null    object
 3   Height     211 non-null    int64
 4   Publisher  115 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.4+ KB

In [6]:
data.isnull().sum() #no value is missing

Title         0
Author       24
Genre         0
Height        0
Publisher    96
dtype: int64

In [7]:
# Assuming 'data' is your DataFrame
data_cleaned = data.dropna()

# Print the cleaned DataFrame
print(data_cleaned)

# Verify if there are any null values after removal
print(data_cleaned.isnull().sum())

                                                 Title              Author  \
0                             Fundamentals of Wavelets    Goswami, Jaideva
1                                           Data Smart       Foreman, John
2                             God Created the Integers    Hawking, Stephen
3                                    Superfreakonomics     Dubner, Stephen
4                                          Orientalism        Said, Edward
..                                                 ...                 ...
114                              Rationality & Freedom        Sen, Amartya
115  Clash of Civilizations and Remaking of the Wor...  Huntington, Samuel
116                                    Uncommon Wisdom      Capra, Fritjof
117                                                One       Bach, Richard
119                                   To Sir With Love         Braithwaite

                 Genre  Height       Publisher
0    signal_processing     228           Wiley
1         data_science     235           Wiley
2          mathematics     197         Penguin
3            economics     179   HarperCollins
4              history     197         Penguin
..                 ...     ...             ...
114          economics     213        Springer
115            history     228  Simon&Schuster
116         nonfiction     197         Fontana
117         nonfiction     172            Dell
119            fiction     197         Penguin

[112 rows x 5 columns]
Title        0
Author       0
Genre        0
Height       0
Publisher    0
dtype: int64

In [8]:
# Assuming 'data' is your DataFrame
data.dropna(inplace=True)

# Print the original DataFrame after removing null values
print(data)

# Verify if there are any null values after removal
print(data.isnull().sum())

                                                 Title              Author  \
0                             Fundamentals of Wavelets    Goswami, Jaideva
1                                           Data Smart       Foreman, John
2                             God Created the Integers    Hawking, Stephen
3                                    Superfreakonomics     Dubner, Stephen
4                                          Orientalism        Said, Edward
..                                                 ...                 ...
114                              Rationality & Freedom        Sen, Amartya
115  Clash of Civilizations and Remaking of the Wor...  Huntington, Samuel
116                                    Uncommon Wisdom      Capra, Fritjof
117                                                One       Bach, Richard
119                                   To Sir With Love         Braithwaite

                 Genre  Height       Publisher
0    signal_processing     228           Wiley
1         data_science     235           Wiley
2          mathematics     197         Penguin
3            economics     179   HarperCollins
4              history     197         Penguin
..                 ...     ...             ...
114          economics     213        Springer
115            history     228  Simon&Schuster
116         nonfiction     197         Fontana
117         nonfiction     172            Dell
119            fiction     197         Penguin

[112 rows x 5 columns]
Title        0
Author       0
Genre        0
Height       0
Publisher    0
dtype: int64

In [9]:
data.isnull().sum() #no value is missing

Title        0
Author       0
Genre        0
Height       0
Publisher    0
dtype: int64

In [18]:
data = data[["Title","Author","Genre","Publisher"]]

In [19]:
data.head(5)

,Title,Author,Genre,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,Wiley
1,Data Smart,"Foreman, John",data_science,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,HarperCollins
4,Orientalism,"Said, Edward",history,Penguin

In [21]:
data['tags'] = data['Title'] + data['Author'] + data['Genre'] + data['Publisher']

In [22]:
data.head(5)

,Title,Author,Genre,Publisher,tags
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,Wiley,"Fundamentals of WaveletsGoswami, Jaidevasignal..."
1,Data Smart,"Foreman, John",data_science,Wiley,"Data SmartForeman, Johndata_scienceWiley"
2,God Created the Integers,"Hawking, Stephen",mathematics,Penguin,"God Created the IntegersHawking, Stephenmathem..."
3,Superfreakonomics,"Dubner, Stephen",economics,HarperCollins,"SuperfreakonomicsDubner, StepheneconomicsHarpe..."
4,Orientalism,"Said, Edward",history,Penguin,"OrientalismSaid, EdwardhistoryPenguin"

In [23]:
data['tags'].iloc[1]

'Data SmartForeman, Johndata_scienceWiley'

In [24]:
new_df = data[['Title','tags']]

In [26]:
new_df.head(5)

                      Title                                               tags
0  Fundamentals of Wavelets  Fundamentals of WaveletsGoswami, Jaidevasignal...
1                Data Smart           Data SmartForeman, Johndata_scienceWiley
2  God Created the Integers  God Created the IntegersHawking, Stephenmathem...
3         Superfreakonomics  SuperfreakonomicsDubner, StepheneconomicsHarpe...
4               Orientalism              OrientalismSaid, EdwardhistoryPenguin

In [27]:
new_df['tags'] = data['tags'].str.replace(',',' ')

/tmp/ipykernel_103/4023416082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = data['tags'].str.replace(',',' ')

In [28]:
new_df['Title'] = data['Title'].str.replace(',',' ')

/tmp/ipykernel_103/4187296763.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Title'] = data['Title'].str.replace(',',' ')

In [29]:
new_df.rename(columns = {'Title':'Title'}, inplace = True)

/tmp/ipykernel_103/1696419158.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Title':'Title'}, inplace = True)

In [30]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the

/tmp/ipykernel_103/1318950780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the

In [31]:
new_df.head(5)

                      Title                                               tags
0  Fundamentals of Wavelets  fundamentals of waveletsgoswami  jaidevasignal...
1                Data Smart           data smartforeman  johndata_sciencewiley
2  God Created the Integers  god created the integershawking  stephenmathem...
3         Superfreakonomics  superfreakonomicsdubner  stepheneconomicsharpe...
4               Orientalism              orientalismsaid  edwardhistorypenguin

In [32]:
new_df.shape #3522 courses with tags and 2 columns (course_name and tags)

(112, 2)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [35]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [36]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [37]:
import nltk #for stemming process

ModuleNotFoundError: No module named 'nltk'

In [38]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 28.9 MB/s eta 0:00:00a 0:00:01
Collecting regex>=2021.8.3
  Downloading regex-2023.12.25-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (773 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 774.0/774.0 kB 54.7 MB/s eta 0:00:00
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Installing collected packages: regex, nltk
Successfully installed nltk-3.8.1 regex-2023.12.25

In [39]:
import nltk #for stemming process

In [40]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [41]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [42]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

/tmp/ipykernel_103/3741851974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

In [44]:
similarity = cosine_similarity(vectors)

In [48]:
def recommend(course):
    course_index = new_df[new_df['Title'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(new_df.iloc[i[0]].Title)

In [49]:
recommend('Machine Learning for Hackers')

Learning OpenCV
Making Software
Python for Data Analysis
Nature of Statistical Learning Theory  The
Fundamentals of Wavelets
Data Smart